<div class="table-container">
  <div class="force-height">
    <h1>Lista de Países</h1>
    <mat-table [dataSource]="listaPaises" class="mat-elevation-z8 material-table">
        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let pais"> {{pais.name}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="accion">
          <mat-header-cell *matHeaderCellDef> Accion </mat-header-cell>
          <mat-cell *matCellDef="let pais">  
             <button mat-raised-button color="primary" (click)="abrirDetalle(pais)">Ver</button>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  </div>
</div>