:host { display:block; }
.listado-entidad-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        text-align: center;
        color: white;
    }
    .force-height{
        width: 80%;
        height: 45vh;
        overflow: auto;
        position: relative;
        justify-content: center;
        .material-table{
            height: fit-content;
            mat-cell, mat-header-cell{
                justify-content: center;
            }
        }
    }
}