
    :host { display:block; }
    .detalle-entidad-container{
        height: 100%;
        width: 100%;
        color: white;
        .detalle{
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            img{
                width: 50%;
            }
        }
    }